/*#image {
	border-right: 1px solid #f4f4f4;
	display: inline-block;
	width: 25%;
}

#album {
	width: 73%;
	float: right;
}*/

.order-detail {
	width: 100px;
}

span {
	font-weight: bold;
}

.nav li a {
	cursor: pointer;
}

.treeview a {
	cursor: pointer;
}

.col-sm-3 span {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 0.5px solid #ccc;
	border-radius: 5px;
}

.col-sm-3 .img {
	width: 100%;	
	height: 130px;
	cursor: pointer;
}

.col-sm-2 .img {
	width: 100px;	
	height: 100px;
}

.form-control {
	border-radius: 5px;
}

.slides {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 0.5px solid #ccc;
	border-radius: 5px;
}

.type {
	width: 8%;
	margin-top: 25px;
	float: left;
}

.form-group .multiple {
	height: auto;
	margin-bottom: 5px;
}

.image-action {
  	text-align: right;
  	position: absolute;
 	margin-right: 20px;
  	margin-top: 5px;
  	top: 0px;
  	right: 0;
}

.col-sm-3 .required {
	color: red;
}