.dropdown {
	cursor: pointer;
}

.product, .product-widget {
	cursor: pointer;
}

.cart-list .product-widget {
    cursor: default;
}

.section .slideshow {
	margin-left: 45px;
	padding-left: 15px;
	height: auto;
	float: left;
	width: 65%;
}

.section .banner-news {
	padding-left: 15px;
	margin-right: 60px;
	height: 300px;
	float: right;
	width: 26%;
}

.section .banner-news .banner img {
	margin-bottom: 15px;
}

.section .banner-news .banner {
	display: block;
}

.top {
	height: 362px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.7);
}

.loader_img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    z-index: 99999;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #D10024;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.price-filter::before {
	content: "Chose price range";
	display: block;
	margin-bottom: 5px;
}

.btn-default {
	background: #fff;
    border: 1px solid #D10024;
    font-size: 12px;
    color: #D10024;
    padding: 5px 15px;
    width: 99px;
    margin-top: 8px;
    border-radius: 4px;
}

.btn-default:hover {
	color: white;
	background-color: #D10024;
}

.list-group .item {
	padding: 4px 0;
	border: none;
}

.list-group .item a span {
    color: #787878;
}

.product-name:hover {
    color: #D10024;
}

.col-md-8 .product-name {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    text-align: left;
}

.col-md-8 .product-category {
    text-align: left;
}

.box-qty {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.col-md-2 .product-price {
    margin-top: 20px;
    margin-bottom: 15px;
    float: right;
    font-size: 16px;
    font-weight: 500;
}

.image {
    float: left;
    padding-left: 0;
}

.image img {
    height: 125px;
    width: 125px;
}

#cart .product {
    height: 125px;
    margin-top: 0;
    margin-bottom: 3px;
    cursor: default;
}

#cart .product .product-body {
    padding: 0;
}

#cart .product .product-body .col-md-8 {
    padding: 0;
}

.action {
    text-align: left;
}

.btn-item-delete {
    font-size: 13px;
    cursor: pointer;
    color: #D10024;
}

.btn-item-delete:hover {
    color: #D10024;
}

.col-md-3 .product {
    margin-top: 0;
    cursor: default;
}

.btn-order {
    width: 100%;
}

.order-total {
    padding: 17px 20px 30px 19px;
}

.text-label {
    margin-top: 5px;
    display: inline-block;
}

.order-price {
    float: right;
}

.order-price strong {
    color: #D10024;
    font-size: 22px;
    font-weight: 400;
}

.required {
    color: red;
}